<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <nav class="navbar navbar-expand">
            <div class="container-fluid">
              <img src="../assets/img/Logo.png" class="logo" alt="Logo">
              <ul class="navbar-nav me-auto mb-2 ms-3 mb-lg-0 top-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Bliv frivilling</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Bliv mediem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Presse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">VIsksomheder</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-12 p-0">
          <hr class="m-0">
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler ms-auto ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-end font-style">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FORSIDEN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">HOSPICE GUIDE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">OM OS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">NYHEDER</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">S&empty;G PLADS P&#902; ET HOSPICE</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-sm btn-danger btn-danger-color border-0 rounded-0 btn-size"
                  (click)="donationModal()">DONATION</button>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 bg-danger-proj text-light p-0 text-center">
      <img src="../assets/img/hands.jpg" class="w-100 pt-1" alt="Hands">
      <div class="text-overlay">
        <h1 class="fw-bold">NEMO VOLUPTATEM QUIA VOLUPTAS</h1>
        <p class="h3 fw-lighter">
          DOLORES RATIONEN VOLUPTATEM
        </p>
      </div>
      <h5 class="fw-lighter py-3">
        N&#940;r den sidste tid skal elskes..
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 my-5 text-center">
      <p class="hospi-paragraph-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptatem nam neque sequi veniam saepe asperiores dolorum magnam, sapiente debitis aspernatur maxime iure eligendi, vero nesciunt recusandae magni cupiditate! Voluptates!</p>
      <button type="button" class="btn btn-sm px-3 border-2 bg-light rounded-0 fw-bold read-more"
                  (click)="donationModal()"> READ MORE </button>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row mb-3">
        <div class="col-6 img-box">
          <img src="../assets/img/hall.jpg" class="w-100 h-100 cut" alt="Hall">
          <div class="text-block">
            <p class="shadow-bg-p">Lorem ipsum dolor sit <br/>amet, consectetur</p>
          </div>
        </div>
        <div class="col-3 img-box">
          <img src="../assets/img/blur.jpg" class="w-100 h-100 cut" alt="Blur">
          <div class="text-block center-shadow-p">
            <img src="../assets/img/logo-img.png" alt="Logo" class="py-2 w-50">
            <h6 class="logo-name">HOSPICEGUIDEN</h6>
            <p class="text-center blur-text-size m-1">HVILKET HOSPICE ER BEDST</p>
            <button type="button" class="btn btn-sm btn-sm-blur px-2 py-1 text-light rounded-0 fw-bold"
                  (click)="donationModal()"> READ MORE </button>
          </div>
        </div>
        <div class="col-3 img-box">
          <img src="../assets/img/people.jpg" class="w-100 h-100 cut" alt="People">
          <div class="text-block">
            <p class="shadow-bg-p">Lorem ipsum dolor sit <br/>amet, consectetur</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 img-box">
          <img src="../assets/img/older-people.jpg" class="w-100 h-100 cut" alt="Older-people">
          <div class="text-block">
            <p class="shadow-bg-p">Mauris maximus nisi et <br/>sapien tristique, quis </p>
          </div>
        </div>
        <div class="col-3 img-box">
          <img src="../assets/img/meet.jpg" class="w-100 h-100 cut" alt="Meet">
          <div class="text-block">
            <p class="shadow-bg-p">Aenean suscipit leo nec <br/>est convallis faucibus</p>
          </div>
        </div>
        <div class="col-6 img-box">
          <img src="../assets/img/desk.jpg" class="w-100 h-100 cut" alt="Desk">
          <div class="text-block">
            <p class="shadow-bg-p">HVAD KAN VI FORVENTE I FREMTIDEN</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-5 mb-3 text-center">
      <h4 class="mb-3 hospi-title">HOSPICEGUIDEN</h4>
      <p class="mb-5 hospi-paragraph-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam tenetur animi facere atque officia? Possimus deserunt sapiente corrupti! Possimus cum non modi, est sint omnis tenetur expedita earum vitae?</p>
      <div class="row mb-5">
        <div class="col-4">
          <img src="../assets/img/phone.jpg" class="w-50" alt="Phone">
          <p class="circle-img">
            KONTACT <br/> HOSPICEGUIDEN
          </p>
        </div>
        <div class="col-4">
          <img src="../assets/img/earth.jpg" class="w-50" alt="Earth">
          <p class="circle-img">
            FIND DET NAERMASTE <br/> HOSPICE
          </p>
        </div>
        <div class="col-4">
          <img src="../assets/img/parcent.jpg" class="w-50" alt="Percent">
          <p class="circle-img">
            GODE RAD & VEJLEDNING <br/> TIL AT VAELAGE ET HOSPICE
          </p>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-12"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12">
        <p class="center logo-p-small"><img src="../assets/img/logo-img.png" class="img-small" alt="Logo"></p>
        <p class="text-big-logo center bold">VI ANVENDTE HOSPICEGUIDEN FORDI...</p>
        <p class="text-small-logo center">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="slideshow-container">
          <div class="mySlides">
            <p><img src="../assets/img/man-face.PNG" class="img-man" alt="Logo"></p>
            <p class="name-man">Karen Nielsem</p>
            <p class="text-man">PHASELLUS SUWCIPIT VAIUS</p>
          </div>
          <div class="mySlides">
            <p><img src="../assets/img/man-face2.PNG" class="img-man" alt="Logo"></p>
            <p class="name-man">Nils Karen</p>
            <p class="text-man">VAIUS SUWCIPIT</p>
          </div>
          <a class="prev" (click)="plusSlides(-1)">❮</a>
          <a class="next" (click)="plusSlides(1)">❯</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-12 col-12"></div>
  </div>

  <div class="row grey-bc">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-12"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-12 flex">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-12 block">
        <div class="header">
          <img src="../assets/img/Logo.png" class="footer-main-logo" alt="Logo">
        </div>
        <div class="footer-text bottom-rows size-12">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
        <div>
          <img src="../assets/img/fb.png" class="logo-footer" alt="Logo">
          <img src="../assets/img/tw.png" class="logo-footer tw" alt="Logo">
          <img src="../assets/img/Logo.png" class="logo-footer m-l" alt="Logo">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-12 block">
        <div class="header">
          <span class="red size-13">QUICK LINKS</span>
        </div>
        <div>
          <p class="bold size-13 no-margin">SERVICES</p>
          <p class="size-12">Lorem Ipsum is simply dummy text</p>
        </div>
        <div>
          <p class="bold size-13 no-margin">VIRKSOMHEDER</p>
          <p class="size-12">Lorem Ipsum is simply dummy text</p>
        </div>
        <div>
          <p class="bold size-13 no-margin">VIRKSOMHEDER</p>
          <p class="size-12">Lorem Ipsum is simply dummy text</p>
        </div>
        <div>
          <p class="bold size-13 no-margin">HANDELSBETINGELSER</p>
          <p class="size-12">Lorem Ipsum is simply dummy text</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-12 block">
        <div class="header">
          <span class="red size-13">KONTACT OS</span>
        </div>
        <div>
          <p class="size-12">
            <i class="fa fa-map-marker"></i>
            Fredericevej 69 7100 Vejle
          </p>
        </div>
        <div>
          <p class="size-12 no-margin">
            <i class="fa fa-phone"></i>
            Kontact os:
          </p>
          <p class="size-12 ">70 70 80 80</p>
        </div>
        <div>
          <p class="size-12 no-margin">
            <i class="fa fa-envelope"></i>
            E-mail:
          </p>
          <p class="size-12">mail@demolink.bg</p>
        </div>

        <div>
          <p class="size-12 bottom-rows">Vi modtager folgende kort:</p>
          <p class="flex">
            <img src="../assets/img/visa.png" class="card-img" alt="Logo">
            <img src="../assets/img/master.png" class="card-img" alt="Logo">
            <img src="../assets/img/paypal.png" class="card-img" alt="Logo">
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-12"></div>
  </div>

  <div class="row red-bc">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 red-text">
      Copyright &copy; 2019 All Rights Reserved.
    </div>
  </div>
</div>